<html ng-app="app3">
	<head>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body ng-controller="mainCtrl">
		<span>Name:</span> <input type="text" placeholder="search by name" ng-model="Name.name">
		<div ng-repeat="some in something | filter: Name" class="some">
			<span>{{some.name}}</span>
			<div>{{some.email}}
			{{some.dateEmployed}}</div>
			<p>{{some.phone}}</p>
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>   
		<script src="service.js"></script>
	</body>
</html>    